{{#extend "lyt-default"}}
	{{#content "details"}}
		<div class="docs">
			{{! WrapWith START: Section Technical Documentation }}
			{{#wrapWith "u-section-wrapper" headline="Technical Details" anchor-id="technical-details" headerCenter=true headerClasses="is-light"}}
				{{#wrapWith "u-grid-row"}}
				{{! WrapWith START: Grid Col }}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12"}}
					{{! WrapWith START: Accordion }}
						{{#wrapWith "c-accordion" settings=(JSONParse '{
						    "accJsOptions": {
                                "openIndex": 0
                            }
						}')}}
						{{! WrapWith START: Item }}
							{{#wrapWith "c-accordion__item" accItemId="readme-file" accButton="README"}}
								<div class="docs__code-item">
									<div class="c-rte--details" data-css="c-rte">
										{{{markdown (buildPath @root.currentPage.dirname "README.md" goUp=1) }}}
									</div>
								</div>
							{{/wrapWith}}
							{{#if this.contextData}}
								{{#wrapWith "c-accordion__item" accItemId="data-file" accButton="Data File"}}
									<div class="docs__code-item">
										{{#highlight "json" escapeHTML=true}}
											{{{embeding (buildPath @root.currentPage.dirname (buildPath "data" (concat this.contextData ".json")) goUp=1) }}}
										{{/highlight}}
									</div>
								{{/wrapWith}}
							{{/if}}
							{{#wrapWith "c-accordion__item" accItemId="templates" accButton="Templates"}}

								{{#unless hideRootTemplate}}
									<h4 class="docs__demo-section-headline">{{@root.currentPage.filename}}</h4>
									<div class="docs__code-item" data-js-module="content-editor"
									     data-filepath="{{buildPath @root.currentPage.dirname  @root.currentPage.basename}}">
										{{#getData from=@root.currentPage.filename typeof="partial"}}
											{{#highlight "hbs" escapeHTML=true}}
												{{{this.parsed.content}}}
											{{/highlight}}
										{{/getData}}
									</div>
								{{/unless}}

								{{#if this.subTemplates}}
									{{#each this.subTemplates}}
										<h4 class="docs__demo-section-headline">{{this}}.hbs</h4>
										<div class="docs__code-item">
											{{#highlight "hbs" escapeHTML=true}}
												{{#getData from=this typeof="partial"}}
													{{{this.parsed.content}}}
												{{/getData}}
											{{/highlight}}
										</div>
									{{/each}}
								{{/if}}
							{{/wrapWith}}
							{{#if this.scssFiles}}
								{{#wrapWith "c-accordion__item" accItemId="styles" accButton="Styles"}}
									{{#glob @root.currentPage.dirname}}
									{{/glob}}
									{{#each this.scssFiles}}
										<h4 class="is-hidden">{{this}}</h4>
										<div class="docs__code-item">
											{{#highlight "scss" escapeHTML=true}}
												{{{embeding (buildPath (buildPath @root.currentPage.dirname 'scss' goUp=1) this) }}}
											{{/highlight}}
										</div>
									{{/each}}
								{{/wrapWith}}
							{{/if}}

							{{#if this.jsFiles}}
								{{#wrapWith "c-accordion__item" accItemId="js" accButton="JavaScript"}}
									{{#each this.jsFiles}}
										<h4 class="is-hidden">{{this}}</h4>
										<div class="docs__code-item">
											{{#highlight "js" escapeHTML=true}}
												{{{embeding (buildPath (buildPath @root.currentPage.dirname 'js' goUp=1) this) }}}
											{{/highlight}}
										</div>
									{{/each}}
								{{/wrapWith}}
							{{/if}}

							{{#wrapWith "c-accordion__item" accItemId="output" accButton="HTML Output"}}
								{{#if variations}}
									{{#each variations}}
										{{#if docs.variationName}}
											<h4 class="docs__demo-section-headline">{{docs.variationName}}</h4>
										{{/if}}
										<div class="docs__code-item">
											{{#highlight "html"}}
												{{#beautifyHTML}}
													{{{yield}}}
												{{/beautifyHTML}}
											{{/highlight}}
										</div>
									{{/each}}
								{{else}}
									<div class="docs__code-item">
										{{#highlight "html"}}
											{{#beautifyHTML}}
												{{{yield}}}
											{{/beautifyHTML}}
										{{/highlight}}
									</div>
								{{/if}}
							{{/wrapWith}}

							{{#if imagePresets}}
								{{#wrapWith "c-accordion__item" accItemId="images" accButton="Image Presets"}}
									{{#pictureData pictures imagePresets}}
										<div class="doc__image-presets">
											{{#each this}}
												<h4 class="docs__demo-section-headline">{{uppercase presetName}}</h4>
												<table class="c-table--zebra" data-css="c-table">
													<thead class="table__head">
													<tr class="table__row is-header">
														<th class="table__headline is-th">Breakpoints</th>
														<th class="table__headline is-th">Width</th>
														<th class="table__headline is-th">Height</th>
													</tr>
													</thead>
													<tbody class="table__body">
													{{#each data}}
														<tr class="table__row">
															<td class="table__cell is-title is-td"> {{this.breakpoint}}</td>
															<td class="table__cell is-td"> {{this.width}}</td>
															<td class="table__cell is-td"> {{this.height}}</td>
														</tr>
													{{/each}}
													</tbody>
												</table>
											{{/each}}
										</div>
									{{/pictureData}}
								{{/wrapWith}}
							{{/if}}
						{{/wrapWith}}
					{{! WrapWith END: Accordion }}
					{{/wrapWith}}
				{{! WrapWith END: Section Technical light }}
				{{/wrapWith}}
			{{/wrapWith}}
		</div>
	{{/content}}
	{{#content "demo-top"}}
	{{! WrapWith START:  }}
		{{#wrapWith "u-section-wrapper" is-centered=true bg-color="primary-medium" headline="Demo Section"
		anchor-id="demo-section" headerClasses="is-light"}}
			<div class="docs">
				{{#wrapWith "u-grid-row"}}
				{{! WrapWith START: Grid Col }}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12"}}
						<p class="is-large-tf">Each variation will be presented in the following sections.</p>
					{{/wrapWith}}
				{{/wrapWith}}
			</div>
		{{/wrapWith}}
	{{! WrapWith END:  }}
	{{/content}}
	{{#content "demo-bottom"}}
	{{! WrapWith START:  }}
		{{#wrapWith "u-section-wrapper"
		anchor-id="demo-examples"
		fullWidth=true
		headerCenter=true
		}}
			<div class="docs">
				{{! WrapWith START: Section Demo }}
				<div class="docs__demo-section">
					{{#if variations}}
						{{#each variations}}
							<div class="docs__demo-section-item">
								{{#if docs.variationName}}
									{{#unless @first}}
										<hr class="docs__hr">
									{{/unless}}
									<div class="docs__demo-variation-headline is-container">
										<h4 class="docs__demo-section-headline is-bg-light is-centered is-container">{{docs.variationName}}</h4>
										{{#if docs.variationDescription}}
											<div class="docs__demo-section-description-wrapper">
												<div class="docs__demo-section-info">
													<span class="docs__demo-section-icon"></span>
												</div>
												<p class="docs__demo-section-description">{{docs.variationDescription}}</p>
											</div>
										{{/if}}
									</div>
								{{/if}}
								{{#unless docs.unwrapVariation}}
								{{! WrapWith START: Section }}
									{{#wrapWith "u-section-wrapper"
									bgColor=docs.sectionBgColor
									fullWidth=docs.sectionFullWidth
									center=docs.sectionCenter
									padding=docs.sectionPadding
									header=sectionHeader
									footer=sectionFooter
									}}
										{{{yield}}}
									{{/wrapWith}}
								{{! WrapWith END: Section }}
								{{else}}
									{{{yield}}}
								{{/unless}}
							</div>
						{{/each}}
					{{else}}
					{{! WrapWith START: Section }}
						{{#wrapWith "u-section-wrapper"
						bgColor=docs.sectionBgColor
						fullWidth=docs.sectionFullWidth
						centered=docs.sectionCentered
						padding=docs.sectionPadding
						header=sectionHeader
						footer=sectionFooter
						}}
							{{{yield}}}
						{{/wrapWith}}
					{{/if}}
				</div>
				{{! WrapWith END: Section Demo }}
			</div>
		{{/wrapWith}}
	{{! WrapWith END:  }}
	{{/content}}
{{/extend}}
