{{! ---
block: b-nav
============================================

Requirements:
- (only hbs)

Options:
- navClasses {String} - Modifier classes

Important Notes:

--- }}

<nav class="b-nav u-grid-row" id="navigation">
	{{#each @root.collections.type}}
		<div class="nav__wrapper u-grid-col is-col-4">
			<h2 class="nav__headline">
				{{uppercase name}}
			</h2>
			<ul class="nav__list">
				{{#objToArr @root.pages}}
					{{#sortArr this "filename"}}
						{{#each this}}
							{{#is parsed.data.type ../../name}}
								{{#isnt parsed.data.publish false}}
									<li class="nav__list-item">
											<a href="{{@root.assets}}{{#if
													@root.servermode}}{{serverFile}}{{else}}{{destFile}}{{/if}}" data-js-atom="nav-item"
											   class="nav__link{{#is @root.currentPage.filename this.filename}} is-active{{/is}}">
												{{#if parsed.data.displayName}}
													{{parsed.data.displayName}}
												{{else}}
													{{this.filename}}
												{{/if}}
											</a>
									</li>
								{{/isnt}}
							{{/is}}
						{{/each}}
					{{/sortArr}}
				{{/objToArr}}
			</ul>
		</div>
	{{/each}}
</nav>